@import 'styles/_variables';

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.thread {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $dark-violet;
  pointer-events: none;
  animation: animateThreads 5s linear infinite;

  &.thread1 {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  }

  &.thread2 {
    border-radius: 67% 33% 70% 30% / 75% 65% 35% 25%;
    animation-direction: reverse;
  }

  &.thread3 {
    border-radius: 52% 48% 70% 30% / 41% 65% 35% 59%;
    animation-duration: 3s;
  }
}

@keyframes animateThreads {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
