@import 'styles/_mixins';

.fixed {
  width: 98vw;
  overflow: hidden;
  margin: 0 auto;
  flex-grow: 1;
  height: 210px;
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  @include custom-scroll;
}

.columns {
  height: 100%;
  padding: 0 16px;
}
