@import 'styles/_variables';
@import 'styles/_mixins';

.container {
  max-width: 90%;
  margin: 0 auto;

  @include for-mobile {
    max-width: none;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.title,
.description {
  text-align: center;
}

.title {
  padding-top: 18px;
  font-size: 26px;
  font-weight: 700;
  text-shadow: $grey-text-shadow;
}

.description {
  margin: 0;
}

.features {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 340px;
}

.starIcon {
  align-self: center;
  width: 35px;
  height: 35px;
  fill: $deep-violet;
}

.featureDescription {
  margin: 0;
  text-align: center;
}
