$color-secondary: rgba(0, 0, 0, 0.6);

$background-color: rgb(238, 238, 238);

$scrollbar-thumb: rgb(171, 196, 220);
$scrollbar-thumb-hover: rgb(85, 85, 85);

$scrollbar-track: rgb(238, 236, 236);
$scrollbar-track-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

$scrollbar-radius: 0.3rem;

$scrollbar-width: 0.4rem;
$scrollbar-height: 0.4rem;

$column-bg: rgb(218, 215, 215);

$task-border: rgb(216, 213, 213);
