$battleship-grey: #999;
$cherry: #990f02;
$column-bg: #eeebeb;
$column-title-border: #fff;
$concrete: #ccc;
$crimson: #b00;
$dark-grey: #1a1a1a;
$dark-violet: #2c1b60;
$davy-grey: #444;
$deep-violet: #5925dc;
$dove-grey: #ddd;
$grey: #808080;
$grey-text-shadow: 4px 3px 3px rgba(150, 150, 150, 0.8);
$light-violet: #d9d6fe;
$scrollbar-height: 7px;
$scrollbar-radius: 5px;
$scrollbar-thumb: #abc4dc;
$scrollbar-thumb-hover: #555;
$scrollbar-track: #eeecec;
$scrollbar-track-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
$scrollbar-width: 7px;
$smoke: #eee;
$task-border: #d8d5d5;
$violet: #7a5af8;
$white: #fff;
