@import 'styles/_mixins';

.scrollable {
  height: 100%;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  @include custom-scroll;
}

.formTitle {
  text-align: center;
  margin-bottom: 0;
  color: #1a1a1a;
}

.dialogContent {
  position: relative;
  min-height: 340px;
}
