@import 'styles/_variables';

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  transition: all 0.3s linear;

    &.sticky {
      box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.2);
      background-color: $dark-violet;
      color: $white;
    }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}
