@import 'styles/_variables';

.input, .error {
  padding: 0 5px;
  background-color: $white;
  
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: 'Jost', sans-serif;
}

.input {
  border: solid 1px $task-border;
}

.error {
  border: solid 1px $light-red;
}

.tooltip {
  padding: 8px 10px;
  font-size: 12px;
  color: $white;
  background-color: $light-red;
}

.arrow {
  color: $light-red;
}

.editForm {
  margin: 0;
  padding: 1px 0;
  display: flex;
}

.cancel, .save {  
  border-radius: 0;
  background-color: $button-bg;
}
.cancel {
  border: solid 1px $concrete;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.save {
  border-top: solid 1px $concrete;
  border-bottom: solid 1px $concrete;
}

.iconSave, .iconCancel {
  font-size: 14px;  
}

.iconSave {
  color:$save-btn;
} 

.iconCancel {
  color:$crimson;
}

