@import 'styles/_variables';

.wrapper {
  display: grid;
  grid-template-columns: 37% 56%;
  column-gap: 7%;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;

  box-shadow: 0px 7px 25px $gray;
  border-radius: 24px;
}

.welcomeImage {
  display: block;
  margin: auto;
}

.imageTitle, 
.imageSubtitle {
  text-align: center;
}

.imageTitle {
  margin: 15px 0 0;

  font-weight: 600;
  font-size: 22px;
}


.imageSubtitle {
  margin: 0;
  font-size: 14px;
}

.title {
  margin: 0;
  
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}

.form {
  margin-top: 30px;
}

.nameInput,
.loginInput,
.passwordInput {
  & :global(.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
    border-color: $violet;
  }
}

.submitButton {
 background-color: $violet;
 &:hover {
  background-color: $dark-violet;
 }
}
