@import 'styles/_variables';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  color: $dark-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
