@import 'styles/_variables';

.addButton {
  background-color: $violet;
  font-family: inherit;

  &:hover {
    background-color: $deep-violet;
  }
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.dialogContent {
  position: relative;
  min-height: 192px;
}
