@import 'styles/_variables';

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: start;
  gap: 20px;
}

.link {
  color: inherit;
  text-decoration: none;

  border: 2px solid $light-violet;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: $violet;
  }
}
